 <div id="wrapper">

    <a  href="/" style="text-decoration: none !important;"><i class="w3-jumbo w3-spin fa fa-home is-size-1 is-pulled-right" style="color:black"></i></a>
     <!-- Header -->
    <header id="header">


            <h1 class="title is-3">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
        </header>


        <center>
            <h1 class="title is-3 is-danger" style="color:black">AVAILABLE SERVICE IN THIS CATEGORY</h1>
            <br>
           <h1 class="title is-3 is-danger" style="color:#ff496e">Here are a few local results found from nearby areas</h1>
        </center>

    <br>
</div>


<br>
<center>

<div id="wrap">
          <table style="width:100%">
          <tr>
            <th class="title is-6 is-danger" >Category</th>
            <th class="title is-6 is-danger" >Business Name</th> 
            <th class="title is-6 is-danger" >Business Service Description</th>
            <th class="title is-6 is-danger" >Cost Of Service</th>
          </tr>

          {{#each services }}
          <tr>
            <td>{{category}}</td>
            <td>{{businessName}}</td> 
            <td>{{businessService}}</td>

            <td>{{costOfService}}</td>
            <td><button class="button is-success title is-5 emailGun" data-id="{{id}}" data-provideremail="{{User.email}}">Send Email</button></td>

          </tr>
          {{/each}}
          </table>      


{{!-- <x-star-rating value="3" number="5" id="rating">
</x-star-rating> --}}
</div>

</center>

<br>
<div class="" id="app">
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Please take a moment to rate our app</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <x-star-rating value="3" number="5" id="rating">
        </x-star-rating>
        <label class="label">Service Description</label>
        <div class="control">
            <textarea id="description" class="textarea" placeholder="Textarea"></textarea>
        </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success"><a href="/">Submit</a></button>
      <button class="button"><a href="/services">Cancel</a></button>
    </footer>
  </div>
</div>

  {{!-- <textarea style="position:absolute;z-index: 9999" name="" id="" cols="30" rows="2"></textarea> --}}
  <br /><br /><br />
  <p><center>
    <button class="button is-black" id="showModal" style="margin-right:30px;" >Log Out</button>
    <button class="button is-black" ><a href="/services">Services</a></button>
  </center>
  </p>

</div>
<br>
<br>

  <hr>

